body {
  background: url(../images/dark-background.jpg);
  background-attachment: fixed;
  font-family: "Yanone Kaffeesatz";
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 800px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%, -50%);
  background-color: rgb(48, 17, 83);
  border-radius: 40px;

  /* display: flex; */
}
.headingForm {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  color: #ffffff;
}
.contactList {
  display: flex;
  justify-content: center;

  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 3px;
  color: #ffffff;
}
.labelSearch {
  margin-bottom: 15px;
  font-size: 20px;
  color: #868686;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.labelName {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 3px;
  color: #868686;
}
.labelNumber {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  letter-spacing: 3px;
  color: #868686;
}
.nameContact {
  font-size: 25px;
  margin-top: 15px;
  letter-spacing: 3px;
  color: #868686;
}
.numberContact {
  font-size: 25px;
  margin-top: 15px;
  letter-spacing: 3px;
  color: #000000;
  transition: 200ms color linear;
}
.numberContact a:hover {
  color: #66af50;
  transition: 300ms color linear;
}
.infoContact {
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin-top: 15px;
  /* letter-spacing: 3px; */
  color: #868686;
}

input {
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  border-radius: 15px;
  width: 300px;
  transition: 200ms border linear;
  color: rgb(131, 131, 131);
  font-family: "Yanone Kaffeesatz";
  font-weight: 400;
  font-size: 17px;
  padding: 8px;
}

input:focus {
  /* outline-color: #860055; */
  outline: none;
  border: 5px solid white;

  border-color: #860055;
  background-color: rgb(0, 0, 0);
  transition: 200ms border linear;
}

.containerSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
li {
  margin-bottom: 10px;
}
.btnList {
  min-width: 120px;
  background-color: rgb(201, 67, 57);
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
}
.btnList:hover {
  color: black;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(201, 67, 57);
}
.btnList:focus {
  color: black;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(201, 67, 57);
}
